# build output
dist/

# dependencies
node_modules/

# generated types
.astro/

# local package manager cache
.pnpm-store/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
astro-dev*.log
astro-dev*.err.log

# environment variables
.env
.env.*

# system files
.DS_Store
Thumbs.db
